@mixin heading($size: 'medium', $type: 'default') {
    @if ($type == 'default') {
        font-weight: 400;
        font-style: normal;
        line-height: 1;
    } @else if ($type == 'medium') {
        line-height: 1.2;
    }

    @if ($size == 'xlarge') {
        font-size: var(--xlarge-header-size);
    } @else if ($size == 'large') {
        font-size: var(--large-header-size);
    } @else if ($size == 'medium') {
        font-size: var(--medium-header-size);
    } @else if ($size == 'small') {
        font-size: var(--small-header-size);
    }
}

@mixin body($size: 'medium', $type: 'default') {
    @if ($type == 'default') {
        line-height: 1;
    }

    @if ($size == 'large') {
        font-size: var(--large-body-size);
    } @else if ($size == 'medium') {
        font-size: var(--medium-body-size);
    } @else if ($size == 'small') {
        font-size: var(--small-body-size);
    }
}

@mixin grid-background {
    background-image: linear-gradient(90deg,#fff 2px,transparent 0),linear-gradient(180deg,#fff 2px,transparent 0);

    @include media('<nav') {
        background-size: 40px 40px;
    }

    @include media('>=nav') {
        background-size: 80px 80px;
    }
}