.header {
    display: flex;
    align-items: center;
    height: rem(80);
}

@include media('<nav') {
    .header {
        justify-content: center;
    }
}

@include media('>=nav') {
    .header {
        padding-left: rem(160);
    }
}