.recruitee-list {
    display: grid;
    margin-bottom: rem(60);

    &::before {
        @include grid-background;

        content: '';
        position: absolute;
        width: 50%;
        height: 49%;
        z-index: 1;
    }
}

// Mobile
@include media('<nav') {
    .recruitee-list {
        grid-template-columns: 1fr;
    }
}

// Desktop
@include media('>=nav') {
    .recruitee-list {
        grid-template-columns: repeat(2, 1fr);
    }
}