.recruitee-list {
    background-color: var(--secondary-background);
    display: grid;
    margin-bottom: rem(20);

    &::before {
        @include grid-background;

        content: '';
        position: absolute;
        width: 70%;
        height: 50%;
        z-index: 1;
    }
}

// Mobile
@include media('<nav') {
    .recruitee-list {
        grid-template-columns: 1fr;
    }
}

// Desktop
@include media('>=nav') {
    .recruitee-list {
        grid-template-columns: repeat(2, 1fr);
    }
}